.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.avatarContainer {
  display: flex;
  gap:10px;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--bg);
}



.avatarContainer .avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid var(--textSoft);
}

.avatarContainer .studentName {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--textSoft);
}

.avatarContainer .studentLevelInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.levelInfo {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text);
}

.levelInfo h3 {
  margin-bottom: 5px;
  color: var(--textSoft);
  text-transform: capitalize; 
}

.levelInfo p {
  margin: 2px 0;
  font-size: 12px;
  font-style: italic;
}

.levelInfo button {
  background-color: teal;
  border-radius: 5px;
  padding: 4px 8px;
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.levelInfo button:hover {
  background-color: darkgreen;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.infoContainer {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--textSoft);
}

.formContainer {
  width: 100%;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
}
.formContainer .basic{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.formContainer .basic p{
  color:var(--textSoft);
  font-size:14px;
}
.formContainer .infoImg{
 display: flex;
 gap:10px;
}
.formContainer .infoImg img{
  width:50px;
  height:50px;
  border-radius:50%;
}
.formContainer .infoImg .info{
  display: flex;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-top:30px;
}



.formGroup {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #2e374a;
  background-color: transparent;
  color: var(--text);
  margin: 5px 0px;
  outline: none;
  width:90%;
}

.form label {
  font-size: 12px;
  margin-bottom: 5px;
}

.basic button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.basic button:hover {
  background-color: darkcyan;
}
/* Levels Section Styles */
.levelsSection {
  margin-top: 40px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--bgSoft);
}

.levelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.levelsHeader h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--textSoft);
}

.addLevelButton {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addLevelButton:hover {
  background-color: darkcyan;
}

.levelsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bgSoft);
  padding:20px 30px;
  border-radius: 10px;
  margin: 20px 10px;
}

.levelCard {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--bg);
}

.levelName {
  font-size: 20px;
  font-weight: bold;
  color: var(--textSoft);
  margin-bottom: 10px;
}

.levelDetails {
  display: flex;
  gap: 20px;
}

.levelColumn {
  flex: 1;
}

.levelDetails p {
  margin: 5px 0;
  font-size: 14px;
  color: var(--text);
}

/* Info grid for displaying profile data */
.infoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: var(--text);
}

.infoGrid div {
  background-color: var(--bg);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infoGrid div strong {
  display: block;
  font-weight: bold;
  color: var(--textSoft);
  margin-bottom: 5px;
}

.infoGrid div input,
.infoGrid div select{
  background-color: var(--bg);
}

/* Input Fields in Level Details */
.levelDetails input {
  padding: 8px;
  border: 1px solid var(--textSoft);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  box-sizing: border-box;
}
.paidStatus {
  color: green;
  font-weight: bold;
}

.unpaidStatus {
  color: red;
  font-weight: bold;
}
/* Container styles */
.infoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgSoft);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
}

.status{
  display: flex;
  /* justify-content: space-between; */
  gap:6px;
  align-items: center;
}
.infoTitle p{
  font-size: 14px;
}
/* Status styles with blinking effect */
.doneStatus {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
  animation: blink 1s infinite alternate;
}

.activeStatus {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Update button styling */
.updateButton {
  padding: 4px 8px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.updateButton:hover {
  background-color: darkcyan;
}
