.container {
    margin:20px 0px;
    background-color: var(--bgSoft);
    padding:20px;
    border-radius: 10px;;
  }
  .top{
    display: flex;
    justify-content:  space-between;
    margin-bottom: 20px;
}
  
  
  
  .notificationsList {
   background-color: var(--bg);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .notificationItem {
    border: 1px solid var(--bgSoft);
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .notificationItem:hover {
    background-color: var(--bgSoft);
    color:var(--text);
    border-radius:5px;

  }
  
  .notificationHeader {
    display: flex;
    justify-content: space-between;
  }
  .header{
    display: flex;
    gap:5px;
  }

  .header input[type="checkbox"] {
    accent-color: teal;
    
  }

  .dateTime{
    display: flex;
    gap:5px;
    color:var(--textSoft);
  }
  
  .notificationDate {
    color:var(--textSoft);
    font-size: 12px;
  }
  
  
  .notificationContent  {
    margin: 0;
    color: var(--textSoft);
    font-size:14px
  }